{{/* boolean feature tags */}}
{{- $in_wsl := false -}}{{/* true if chezmoi is running inside wsl */}}
{{- $wsl_installed := false -}}{{/* true if wsl is (or will be) installed on this machine */}}
{{- "" -}}


{{/* Default variables */}}
{{- $age_key_path := "~/chezmoi_key.txt" -}}

{{- if eq .chezmoi.os "linux" -}}
{{-   if contains "wsl" (get .chezmoi.kernel "osrelease" | lower) -}}
{{-     $in_wsl = true -}}
{{-   end }}
{{- end }}

{{- if eq .chezmoi.os "windows" -}}
{{-   $wsl_installed = promptBoolOnce . "wsl_installed" "Is WSL installed on this machine, or will it be" -}}
{{-   $age_key_path = "~\\chezmoi_key.txt" -}}
{{- end -}}

progress: true

encryption: "age"
age:
  identity: {{ $age_key_path }}
  recipient: "age1qvx7dpjkns0crcxxdd2ut0ktzpeev75hqnrygkmch6x5hts6lseqltqj8w"

data:
    in_wsl: {{ $in_wsl }}
    wsl_installed: {{ $wsl_installed }}
