export ZSH="/home/chandler/.oh-my-zsh"
ZSH_THEME="agnoster"
HIST_STAMPS="mm/dd/yyyy"
plugins=(git docker virtualenvwrapper gh)

source $ZSH/oh-my-zsh.sh


# My aliases
alias ll="ls -al"

# Fix LESS because the default is dumb
export LESS=-FRX

# I need .local on my path
export PATH=$HOME/.local/bin:$PATH

# Hide username if it's me:
export DEFAULT_USER="$(whoami)"

# Stuff for virtualenvwrapper
export WORKON_HOME=$HOME/.virtualenvs
export PROJECT_HOME=$HOME/projects
export VIRTUALENVWRAPPER_PYTHON=$(which python3)
source /usr/local/bin/virtualenvwrapper.sh

{{- if .in_wsl -}}
export WINHOME="/mnt/c/Users/Chandler"

${HOME}/.local/bin/wsl-ssh-agent-relay start
export SSH_AUTH_SOCK=${HOME}/.ssh/wsl-ssh-agent.sock
{{- end }}
