[push]
    default = current
[user]
    name = Chandler Newby
[alias]
    work = config user.email "newby@adobe.com"
    workkey = config user.signingkey "30195CE28D19C092"
    personalkey = config user.signingkey "D53A9A7303974244"
    personal = config user.email "chandler.newby@gmail.com"
[commit]
    gpgsign = true
[color]
    ui = true
[color "status"]
    changed = red bold
    added = green bold
    untracked = red bold
[color "diff"]
    old = red bold
    new = green bold
[color "interactive"]
    prompt = blue white
[includeIf "gitdir:github/"]
  path = .gitconfig-github
[includeIf "gitdir:git.corp/"]
  path = .gitconfig-git.corp
[core]
{{- if eq .chezmoi.os "windows" }}
    autocrlf = true
    sshCommand = 'C:\\Windows\\System32\\OpenSSH\\ssh.exe'
{{- else }}
    autocrlf = input
{{ end }}
{{ if eq .chezmoi.os "windows" -}}
[gpg]
   program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
{{- end }}

